<div class="container my-5">

  <h2>Perfil</h2>
  <hr>
  <div class="row justify-content-center mb-5">
    <div class="col-5">
      <div class="card mt-4 py-4">
        <div class="card-body">
          <div class="row justify-content-center mb-4">
            <img style="width: 90px; height: 90px; border-radius: 900px; overflow: hidden;"
              src="{{url + '/users/avatar/' + user.image}}" *ngIf="user.image">
          </div>
          <div class="row ml-3">
            <p class="font-weight-bold w-100">Nombre: <span class="font-weight-normal">{{user.name}}</span></p>
            <p class="font-weight-bold w-100">Apellido: <span class="font-weight-normal">{{user.surname}}</span></p>
            <p class="font-weight-bold w-100">Email: <span class="font-weight-normal">{{user.email}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2>Temas</h2>
  <hr>

  <div class="row">

    <div class="col-12 mb-4" *ngFor="let topic of topics">
      <div class="card">
        <div class="card-body">
          <a [routerLink]="['/tema/', topic._id]">
            <h5 class="card-title">{{topic.tittle}}</h5>
          </a>
          <p class="card-text">{{topic.content}}</p>
          <div class="row justify-content-between">
            <span href="#" class="card-text text-muted ml-3"><i class="far fa-calendar-alt"></i>
              {{topic.date | amLocale:'es' | amTimeAgo  }}</span>
            <a href="#" class="card-link  mr-3" [routerLink]="['/tema/', topic._id]">Leer mas <i
                class="fas fa-sort-down"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <nav *ngIf="total > 1" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

      <li class="page-item" [ngClass]="{'disabled': !prevPage}">
        <a class="page-link" aria-label="Previous" [routerLink]="[ '/temas', prevPage ]">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <li class="page-item" *ngFor="let num of totalPages" [ngClass]="{'active': num == page}">
        <a class="page-link" [routerLink]="[ '/temas', num ]">{{num}}</a>
      </li>

      <li class="page-item" [ngClass]="{'disabled': !nextPage}">
        <a class="page-link" aria-label="Next" [routerLink]="[ '/temas', nextPage ]">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>

    </ul>
  </nav>

</div>